.inputForm {
  display: grid;
  grid-template-columns: 100fr 1fr;
  align-items: center;
  padding: 0.1em 0.1em 0.1em 0.2em;
  border-radius: 0.5em;
  background-color: rgb(235, 235, 235);
  margin: 0 0 0.75em 0;
}
.input {
  font-size: 0.8em;
  border: none;
  outline: none;
  background-color: rgba(235, 235, 235);
}

.addBtn {
  color: green;
}

@media (max-width: 900px) {
  .inputForm {
    display: grid;
    grid-template-columns: 100fr 1fr;
    align-items: center;
    padding: 0.1em 0.1em 0.1em 0.2em;
    margin: 0.2em 0 1em 0;
    border-radius: 0.5em;
    background-color: rgb(235, 235, 235);
  }
  .input {
    border: none;
    outline: none;
    background-color: rgba(235, 235, 235);
  }
}
