.main {
  display: block;
  background-color: white;
  border-radius: 0.75em;
  margin: 0em 4em 0 4em;
}

@media (max-width: 900px) {
  .main {
    visibility: none;
    display: block;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
}
